@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Bootstrap collapse conflict with Tailwind */
.navbar-collapse {
    visibility: visible !important;
}

.card{
    border-radius:15px;
}

.card-header{
    border-top-left-radius:15px !important;
    border-top-right-radius:15px !important;
}

.table{
    vertical-align:middle;
}

.btn{
    border-radius:8px;
}

.form-control{
    border-radius:8px;
}